{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "target": "es2021"
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "noInterop": false
  },
  "minify": false
}
